html {
  font-family: var(--ff-primary);
  color: var(--color-darkest);
  background-color: var(--color-lightest);
}

.logo {
  width: 100px;
  height: auto;
  margin-right: var(--l);
  position: absolute;
  left: var(--l);
  top: var(--m);
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--l);
  padding: var(--m);
  margin-right: var(--xxl);
  margin-left: var(--xxxl);

  a {
    text-decoration: none;
    color: var(--color-darkest);

    &:hover {
      color: var(--color-blue-dark);
      text-decoration: underline;
    }
  }

  @media (max-width: 800px) {
    display: none;
  }
}

h1 {
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
  padding-top: var(--xs);
  padding-bottom: var(--s);
}

h2 {
  font-size: var(--m);
  font-weight: var(--fw-semi-bold);
}

h5 {
  font-size: var(--fs-m);
  font-weight: var(--fw-semi-bold);
  color: var(--color-blue-light);
  margin-bottom: var(--xs);
}

footer {
  display: flex;
  justify-content: center;
  gap: var(--l);
  padding: var(--m);
  margin: var(--s) 0;

  a {
    text-decoration: none;
    color: var(--color-blue-dark);
  }
}

p {
  font-size: var(--fs-xs);
  line-height: var(--lh-normal);
  padding-top: var(--xs);
  text-align: justify;
  text-justify: inter-word; /* Optimiert Abstände zwischen Wörtern */
  hyphens: auto; /* Automatische Silbentrennung */
  -webkit-hyphens: auto; /* Für Safari */
  -ms-hyphens: auto; /* Für ältere IE/Edge */
}

.hidden {
  display: none;

  @media (max-width: 799px) {
    display: flex; 
    align-items: center;
    justify-content: right;
    margin: var(--m);
  }
}